<div class="recommend_block">
	<div class="home_recommend_header">
		<div class="home_recommend_title">最新上架</div>
		<div class="home_recommend_more">更多&gt;</div>
	</div>
	<div>
		<div class="home_recommend_comics threeColumn">
			<div class="home_recommend_comic">
				<div class="comic_horizontal_container">
					<div
						class="comic_cover comice_horizontal_cover"
						style="
							width: 100%;
							background-image: url('https://img.manhua.weibo.com/client/2020/04/20/lPqbZ18w.jpg');
						"
					></div>
					<div class="comic_cover_horizontal_info">
						<div
							class="comic_cover_horizontal_title"
							style="font-size: 16px;"
						>
							一纸契约，惹上冷情总裁
						</div>
						<div
							class="comic_cover_horizontal_author"
							style="font-size: 12px;"
						>
							<img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEUAAABKkOJLkeNLkONVqv9LkuRMkeNKkOIsiLo4AAAAB3RSTlMA5rWIBktK5LpJhQAAADpJREFUKM9joBFgMSwXdkAWYC4vLzdgUAeSRRABxjKGcAFkAfYCEEIATAHGUoQWTEMR1hIGo74lEgAAomkhe7DLd3MAAAAASUVORK5CYII="
								alt=""
							/>
							恋爱、总裁
						</div>
						<div
							class="comic_cover_horizontal_author"
							style="font-size: 12px;"
						>
							<img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAyVBMVEUAAAAmJiVJREJ0cm9oaGNubmhzcG1IRUJ2c3BJRUJ0cXB4eHR5d3R5dXVDQz4AAABzcG5iYF1raWZdWlh0cG5QTEpGQ0FPTkx5eXZ7e3s3NzF1dXV3d3d+eHPe3tSkoJ1xa2fIx76ZlpNpZGByb21OSkfCwLhubmlPS0iGgXvOzcR1cW68vLSVkY5/eXR4cm1oaGRgW1dcV1TS0snFw7qQjImCf3yinpqin5iKhoODfXhtZ2Pb29KzsKmOiYVZVFHFxbxsamVmY2Fv8+XpAAAAHXRSTlMAKK/n4uHeuLaun4BkPzcN+vry7ezrlZRQOiojHsW6HFUAAAEbSURBVDjL7ZDXbsMgFECdPZt0b4jtpsSY4Ix6O6Pt/39URYuggOXXRFGOhHR1dXRkX+vMIRg1l18zQWtUKTfd+acjSFuV8nL+ASXO7Njli0G3MdVodAdPZeotiTPqatAsJu1H3R2SKJmUkkRkqLqvlzShOxwAjTyL3AmdvihyP464aILduK/IbVBBsLtW5CsCGAgBEDo5G34fdkK2Jt+KfGcDBoTsoYAP2IcOWxc3iny/+ifDLR986GO2Xj8ocs1bSHkD07+Bu7b3bCnUV1JO4UaR13WhibSQwRbKz2DhmtBEWsoBkj/Iw0ZaXAzk7GQhOx0SYSNtIsJm2kQLV6cXPGymC9ug4GGD3v7NYN+zyhl3vHcNrzO2zpwOPxnwU3esbrlEAAAAAElFTkSuQmCC"
								alt=""
							/>
							翻阅漫画
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
